.admin-title {
  min-height: 30px;
  color: black;
  font-size: 20px;
  text-align: center;
}

.admin-button {
  cursor: pointer;
  margin: 0 4px;
  border: none;
  border-radius: 8px;
  background-color: white;
  min-height: 30px;
  color: black;
  font-size: 16px;
}

.admin-button:disabled {
  cursor: auto;
  color: gray;
}

.admin-input {
  box-sizing: border-box;
  margin: 0 4px;
  border: none;
  border-radius: 8px;
  background-color: white;
  padding: 8px;
  min-height: 30px;
  color: black;
  font-size: 14px;
}

.admin-input:disabled {
  color: gray;
}

.admin-input:focus {
  outline: none;
}

.admin-input::placeholder {
  color: gray;
}

textarea.admin-input {
  min-height: 80px;
  resize: vertical;
}

textarea.admin-input:disabled {
  resize: none;
}

.admin-card {
  cursor: pointer;
  margin: 0 4px;
  border: none;
  border-radius: 8px;
  background-color: white;
  padding: 8px;
  height: auto;
  color: black;
  font-size: 12px;
}
