.admin-title {
  min-height: 30px;
  color: black;
  font-size: 20px;
  text-align: center;
}

.admin-button {
  cursor: pointer;
  margin: 0 4px;
  border: none;
  border-radius: 8px;
  background-color: white;
  min-height: 30px;
  color: black;
  font-size: 16px;
}

.admin-card {
  cursor: pointer;
  margin: 0 4px;
  border: none;
  border-radius: 8px;
  background-color: white;
  padding: 8px;
  height: auto;
  color: black;
  font-size: 12px;
}
